<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Al&apos;s Beef</string>
		<key>delivery</key>
		<real>3</real>
		<key>logoURL</key>
		<string>http://evanstonlifestyle.com/blog/wp-content/uploads/2008/11/als-beef1.jpg</string>
		<key>menu</key>
		<array>
			<dict>
				<key>name</key>
				<string>Italian Sausage</string>
				<key>price</key>
				<real>4</real>
			</dict>
			<dict>
				<key>name</key>
				<string>Polish With Fries</string>
				<key>price</key>
				<integer>5</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Hot Doug&apos;s</string>
		<key>delivery</key>
		<integer>3</integer>
		<key>logoURL</key>
		<string>http://hotdougs.com/Images/HotDougslogo_medium.jpg</string>
		<key>menu</key>
		<array>
			<dict>
				<key>name</key>
				<string>The Dog</string>
				<key>price</key>
				<real>3.99</real>
			</dict>
		</array>
	</dict>
</array>
</plist>
